.card {
	height: 225px;
	background: #b5c8d7;
	position: relative;
	transition: 0.3s;
}

.card:hover {
	transform: scale(1.05);
	box-shadow: 5px 7px 8px 0px rgba(34, 60, 80, 0.3);
}

.img {
	max-width: 100%;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.controls {
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 0;
	padding: 0 20px;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
}

.card:hover .controls {
	opacity: 1;
	visibility: visible;
}

.controls.isActive {
	opacity: 1;
	visibility: visible;
}

.addToFavotitesBtn {
	width: 40px;
	height: 37px;
	background: none;
	border: none;
	padding: 0;
	margin-left: auto;
	cursor: pointer;
}

.iconFavorites {
	width: 100%;
	height: 100%;
	background: url('./favorites.svg');
}

.iconFavorites:hover {
	background: url('./favorites-active.svg');
}

.addToFavotitesBtn.isActive .iconFavorites {
	background: url('./favorites-active.svg');
}
